name: Build
on:
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.0
        with:
          # required by release-tag.sh to correctly identify files changed in the last commit
          fetch-depth: 2
          # required by release-tag.sh to allow pushing with another credentials so other workflows are triggered
          persist-credentials: false
      - uses: actions/setup-java@v4.3.0
        with:
          distribution: temurin
          java-version: 21
          cache: gradle
      - uses: gradle/actions/setup-gradle@v4.1.0
      - name: Build
        timeout-minutes: 15
        run: ./gradlew check
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v4.3.1
        if: always()
        with:
          report_paths: '**/build/test-results/test/TEST-*.xml'
          github_token: ${{ secrets.GITHUB_TOKEN }}
