name: Release
on:
  push:
    tags:
      - '*'

jobs:
  release:
    name: Publish Plugin
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.7
      - name: Grab tag name
        uses: olegtarasov/get-tag@v2.1.3
        id: tagName
      - name: Setup Java
        uses: actions/setup-java@v4.2.2
        with:
          distribution: temurin
          java-version: 21
          cache: gradle
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5.0.0
      - name: Publish Plugin
        env:
          JETBRAINS_TOKEN: ${{ secrets.JETBRAINS_TOKEN }}
        run: ./gradlew publishPlugin
